.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
}

.popup__container_type_edit-profile, .popup__container_type_add-card {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  width: 430px;
}

.popup__container_type_preview-image {
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup__close-button_type_edit-profile, .popup__close-button_type_add-card {
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-image: url('../images/close-icon.svg');
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  padding: 0;
}

.popup__close-button_type_preview-image {
  width: 40px;
  height: 40px;
  position: relative;
  left: calc(100% + 7px);
  bottom: 7px;
  background-image: url('../images/close-icon.svg');
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.6;
}

.popup__heading_type_edit-profile, .popup__heading_type_add-card {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 24px;
}

.popup__heading_type_preview-image {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  margin: 10px 0 0 0;
}

.popup__input {
  display: block;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 30px 0 13px;
  width: 100%;
}

.popup__input::placeholder {
  color: #C4C4C4;
  font-size: 14px;
  font-weight: 400px;
  line-height: 1.2;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__error_visible {
  color: red;
}

.popup__button {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  margin: 48px auto 0;
  height: 50px;
  width: 100%;
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.popup__button:enabled:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__button_disabled {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  opacity: 0.2;
}

.popup__image {
  margin: auto;
  max-height: 75vh;
  max-width: 75vw;
}


@media screen and (max-width: 675px) {
  .popup__container_type_edit-profile, .popup__container_type_add-card {
    box-sizing: border-box;
    width: 282px;
    padding: 25px 22px;
  }

  .popup__close-button_type_edit-profile, .popup__close-button_type_add-card {
    bottom: -14px;
    right: 0;
    height: 26px;
    width: 26px;
  }

  .popup__heading_type_edit-profile, .popup__heading_type_add-card {
    font-size: 18px;
    margin-bottom: 62px;
  }

  .popup__button {
    margin-top: 45px;
    height: 48px;
  }
}

@media screen and (max-width: 550px) {
  .popup__close-button_type_edit-profile, .popup__close-button_type_add-card {
    height: 26px;
    width: 26px;
  }
  .popup__close-button_type_preview-image {
    height: 30px;
    width: 30px;
  }
}
